
[submodule "UnifiedUI/KianCommons"]
	path = UnifiedUIMod/KianCommons
	url = https://github.com/kianzarrin/KianCommons
[submodule "UnifiedUILib/KianCommons"]
	path = UnifiedUILib/KianCommons
	url = https://github.com/kianzarrin/KianCommons
